name: Test nxsbom-cli on multiple Linux distros
on:
  workflow_dispatch:

jobs:
  linux-tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - debian:latest   # Run via docker container

    runs-on: ubuntu-latest

    steps:
      - name: Setup container for Debian
        if: matrix.os != 'ubuntu-latest'
        uses: addnab/docker-run-action@v3
        with:
          image: debian:latest
          options: -v ${{ github.workspace }}:/workspace
          run: |
            apt update && apt install -y curl ca-certificates
            curl -s https://api.github.com/repos/atif-80/cli-public/releases/latest \
            | grep "browser_download_url" \
            | grep "nxsbom-cli" \
            | cut -d '"' -f 4 > url.txt

            curl -L $(cat url.txt) -o /workspace/nxsbom-cli
            chmod +x /workspace/nxsbom-cli
            /workspace/nxsbom-cli -h

      - name: Download and test on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          curl -s https://api.github.com/repos/atif-80/cli-public/releases/latest \
          | grep "browser_download_url" \
          | grep "nxsbom-cli" \
          | cut -d '"' -f 4 > url.txt

          curl -L $(cat url.txt) -o nxsbom-cli
          chmod +x nxsbom-cli
          ./nxsbom-cli -h
