name: Test nxsbom-cli on 5 OS Sequentially

on:
  workflow_dispatch:
  push:

jobs:
  ubuntu_latest:
    name: Ubuntu Latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Testing on ubuntu-latest"
      - run: wget https://github.com/atif-80/cli-public/releases/latest/download/nxsbom-cli && chmod +x nxsbom-cli
      - run: ./nxsbom-cli -h

  ubuntu_2204:
    name: Ubuntu 22.04
    runs-on: ubuntu-22.04
    needs: ubuntu_latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Testing on ubuntu-22.04"
      - run: wget https://github.com/atif-80/cli-public/releases/latest/download/nxsbom-cli && chmod +x nxsbom-cli
      - run: ./nxsbom-cli -h

  ubuntu_2404:
    name: Ubuntu 24.04
    runs-on: ubuntu-24.04
    needs: ubuntu_2204
    steps:
      - uses: actions/checkout@v4
      - run: echo "Testing on ubuntu-24.04"
      - run: wget https://github.com/atif-80/cli-public/releases/latest/download/nxsbom-cli && chmod +x nxsbom-cli
      - run: ./nxsbom-cli -h

  windows_latest:
    name: Windows Latest
    runs-on: windows-latest
    needs: ubuntu_2404
    steps:
      - uses: actions/checkout@v4
      - name: Download CLI (Windows)
        run: |
          curl -L -o nxsbom-cli.exe https://github.com/atif-80/cli-public/releases/latest/download/nxsbom-cli.exe
      - name: Run CLI help
        run: .\nxsbom-cli.exe -h

  macos_latest:
    name: macOS Latest
    runs-on: macos-latest
    needs: windows_latest
    steps:
      - uses: actions/checkout@v4
      - run: brew install wget
      - run: wget https://github.com/atif-80/cli-public/releases/latest/download/nxsbom-cli && chmod +x nxsbom-cli
      - run: ./nxsbom-cli -h
