name: Test CLI on Linux Distros

on:
  workflow_dispatch:

jobs:
  test-linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-24.04, fedora-latest, centos-latest]

    name: Test on ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run on Ubuntu 24.04
        if: matrix.os == 'ubuntu-24.04'
        run: |
          echo "Running test on Ubuntu 24.04"

          # Download prebuilt release asset from GitHub
          curl -L -o bundle.zip \
            https://github.com/atif-80/cli-public/releases/download/v1.0/bundle.zip

          # Unzip and run CLI
          unzip bundle.zip -d nx
          cd nx
          chmod +x nxsbom-cli

          echo "Running CLI..."
          ./nxsbom-cli -h

      - name: Run on Fedora latest
        if: matrix.os == 'fedora-latest'
        run: |
          echo "Fedora check"
          pwd
          ls -al

      - name: Run on CentOS latest
        if: matrix.os == 'centos-latest'
        run: |
          echo "CentOS check"
          pwd
          ls -al
