name: Download nxsbom-cli from Release and check
on:
  workflow_dispatch:

jobs:
  check-file:
    runs-on: ubuntu-latest

    steps:
      - name: Get latest release download URL from cli-public
        run: |
          curl -s https://api.github.com/repos/atif-80/cli-public/releases/latest \
          | grep "browser_download_url" \
          | grep "nxsbom-cli" \
          | cut -d '"' -f 4 > url.txt

          echo "Download URL:"
          cat url.txt

      - name: Download nxsbom-cli binary
        run: |
          curl -L $(cat url.txt) -o nxsbom-cli
          chmod +x nxsbom-cli
          ls -la

      - name: Test nxsbom-cli help
        run: |
          ./nxsbom-cli -h
