name: Test nxsbom-cli on Linux Distros

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  test-linux:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu:latest
          - ubuntu:24.04
          - debian:latest
          - fedora:latest
          - centos:latest
          - rockylinux:latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install unzip & curl
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip curl

    - name: Download nxsbom CLI zip bundle
      env:
        TOKEN: ${{ secrets.NXSBOM_ACCESS_TOKEN }}
      run: |
        echo "Downloading bundle..."
        curl -L -H "Authorization: token $TOKEN" \
        -o bundle.zip \
        https://github.com/atif-80/nxsbom-cli/releases/latest/download/nxsbom-cli.zip

        ls -l bundle.zip

    - name: Unzip CLI bundle
      run: |
        mkdir nx
        unzip bundle.zip -d nx
        ls -l nx

    - name: Test CLI in ${{ matrix.distro }}
      run: |
        echo ">>> Running on ${{ matrix.distro }}"
        docker run --rm \
          -v $PWD/nx:/nx \
          ${{ matrix.distro }} \
          sh -c "
            # install unzip & curl depending on distro
            if command -v apt >/dev/null 2>&1; then
              apt update && apt install -y unzip curl ca-certificates
            elif command -v dnf >/dev/null 2>&1; then
              dnf install -y unzip curl ca-certificates
            elif command -v yum >/dev/null 2>&1; then
              yum install -y unzip curl ca-certificates
            fi

            chmod +x /nx/nxsbom-cli

            mv /nx/nxsbom-cli /usr/local/bin/nxsbom-cli

            echo \"--- Running nxsbom-cli -h ---\"
            nxsbom-cli -h
          "
