name: Test nxsbom-cli on 5 OS (Parallel)

on:
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, ubuntu-24.04, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Download binary (Linux)
        if: runner.os == 'Linux'
        run: |
          echo "Downloading Linux binary..."
          curl -L https://github.com/atif-80/cli-public/releases/download/v1.0/nxsbom-cli -o nxsbom-cli
          chmod +x nxsbom-cli

      - name: Download binary (Windows)
        if: runner.os == 'Windows'
        run: |
          echo "Downloading Windows binary..."
          curl -L https://github.com/atif-80/cli-public/releases/download/v1.0/nxsbom-cli.exe -o nxsbom-cli.exe

      - name: Download binary (macOS)
        if: runner.os == 'macOS'
        run: |
          echo "Downloading macOS binary..."
          curl -L https://github.com/atif-80/cli-public/releases/download/v1.0/nxsbom-cli-macos -o nxsbom-cli
          chmod +x nxsbom-cli

      - name: Run CLI help (Linux)
        if: runner.os == 'Linux'
        run: |
          ./nxsbom-cli -h || echo "⚠️ Expected failure on some Linux distros due to GLIBC"

      - name: Run CLI help (Windows)
        if: runner.os == 'Windows'
        run: .\nxsbom-cli.exe -h

      - name: Run CLI help (macOS)
        if: runner.os == 'macOS'
        run: ./nxsbom-cli -h
